:root {
  --color-bg: #79AC78;
  --color-font-family: #618264;
  --color-button-hover: #B0D9B1;
  --color-button: #D0E7D2;
  --color-font-secundary: #ffffff;
  --color-bg-rodape: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100vh;
}

body {
  position: relative;
  background-color: var(--color-bg);
  font-family: "Raleway", sans-serif;
}

.avatar {
  width: 100px;
  border-radius: 50px;
  box-shadow: 0 0 20px white;
}

h1 {
  font-family: "Architects Daughter", cursive;
  font-weight: 100;
  font-size: 24px;
  margin-bottom: 2px;
}

h2 {
  font-size: 16px;
  color: var(--color-font-secundary);
}

.profile {
  text-align: center;
  padding-top: 20px;
}

.social {
  display: flex;
  justify-content: center;
  gap: 36px;
  margin: 20px;
  list-style: none;
}

.links-list li {
  background: var(--color-font-secundary);
  padding: 8px 16px;
  margin: 16px 32px;
  list-style: none;
  border-radius: 8px;
  box-shadow: 0 0 5px white;
  text-align: center;
}

.links-list li a {
  text-decoration: none;
  color: black;
}

.rodape {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--color-bg-rodape);
  color: var(--color-font-secundary);
  text-align: center;
  font-size: 10px;
  height: 40px;
}
