* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 80px 0;
  margin: 0 auto;
  width: 90vw;
  height: 80vh;
}

body {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 9%, rgba(22,44,113,1) 37%, rgba(34,62,195,1) 63%, rgba(24,47,126,1) 89%, rgba(22,44,113,1) 100%);
  background-repeat: no-repeat;
  background-size: cover;

  height: 100vh;

  font-family: "Raleway", serif;
  font-weight: 400;
  color: white;
}

.profile{
  text-align: center;
}

.avatar {
  width: 80px;

  border-radius: 50px;
  border: 3px solid white;
  box-shadow: 0 0 20px white;
}

h1 {
  font-family: "Architects Daughter", serif;
  font-weight: 100;
  font-size: 24px;

  margin-bottom: 5px;
}

h2 {
  font-size: 16px;
  font-weight: 200;
}

.social {
  display: flex;
  justify-content: space-evenly;

  text-align: center;

  margin: 20px 0;
}

.social li {
  list-style: none;
}

.fa-brands {
  color: white;
}

.container p {
  margin-top: 5px;
  font-size: 12px;
  font-weight: 200;
}

.list-links{
  list-style: none;
}

.list-links li {
  margin: 1rem 20px;
}

.list-links li a{
  display: block;

  background: white;
  color: rgb(34,62,195);

  padding: 15px 20px;
  border-radius: 4px;

  text-decoration: none;
  text-align: center;
  font-weight: bold;
}

footer {
  font-size: 10px;
  text-align: center;

  padding: 20px 0;
}